{% extends 'user_profile/base.html' %}


{% block body %}
    <div class="stories-body">
        <h1>Stories</h1>
        <ul class="stories-list">
            {% for story in stories %}
                <li class="story">
                    <h2 class="story-title">{{ story.heading }}</h2>
                    <button class="quiz-btn" onclick="handleClick(this)" value="{{ story.id }}">Take Test</button>
                    <button id="delete" onclick="deleteItem(this)" value="{{ story.id }}">Delete</button>
                </li>
                
            {% endfor %}
         </ul>

    </div>
{% endblock body %}