* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: azure;
    padding: 0 10%;
}

h1 {
    color: greenyellow;
}

.story {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.story:hover {
    background-color: black;
    color: aliceblue;
}

li {
    list-style-type: none;
    padding: 20px 0;
}

.story-btn {
    color: black;
    border: none;
    box-shadow: 3px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.story-btn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    margin-left: 5%;
}

.create-story-btn {
    background-color: green;
    color: white;
    padding: 10px;
}

#form {

}

li.option {
    list-style-type: none;
}

.unpadded-body {
    padding: 5%;
    width: 100vw;
    display: flex;

}

.left {
    width: 50vw;
    height: 100vh;

}

.right {
    width: 50vw;
    height: 100vh;
    background-color: blue;
}
